.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.header > .buttons {
    gap: 30px;
}

@media screen and (max-width: 1337px) {
    .header > .buttons {
        display: none;
    }
}
