* {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    gap: 10px;
}

label > :is(.text, .input) {
    font-size: 24px;
}

label > .input {
    padding: 6px 20px;
    background-color: #ccc;
}

#selection-type {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 4px;
}

.button {
    padding: 6px 40px;
    font-size: 40px;
}

#selection-type, .button {
    background-color: black;
    color: #fff;
}

.flex {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
    -ms-flex-direction: column;
}
