.button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 12px 22px;
    font-weight: bold;
}

.button.outline {
    border: 1px solid white;
}

.button.primary {
    background-color: #8AB4F8;
    color: black;
    font-size: 14px;
    outline: none;
    border: none;
}
