<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h2>
                <a href="index.html" class="link">Wallet</a>
            </h2>
            <div class="buttons">
                <a href="#" class="button bg-transparent">Sign up</a>
                <a href="#" class="button primary">Log in</a>
            </div>
        </header>
        <main class="main">
            <article id="home">
                <div class="article-content">
                    <div class="article-text">
                        <h1 class="article-title">
                            SaaS Landing<br>
                            Page Template
                        </h1>
                        <p class="article-description">
                            This is a template Figma file, turned into code<br>
                            using Anima. Learn more at AnimaApp.com
                        </p>
                    </div>
                    <div class="button-wrapper">
                        <a href="#" class="button secondary">Get started</a>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="imgs/graphics.png" alt="graphics" loading="lazy">
                </div>
            </article>
            <article id="brands">
                <div class="line"></div>
                <div class="img-wrapper">
                    <img src="imgs/brands/brands.png" alt="brands" loading="lazy">
                    <img src="imgs/brands/brands_mobile.png" alt="brands" loading="lazy">
                </div>
                <div class="line"></div>
            </article>
            <article id="product">
                <img src="imgs/product.png" alt="product" loading="lazy">
            </article>
            <article id="features">
                <ul class="feature-list">
                    <li class="feature">
                        <div class="feaute-content">
                            <div class="feature-content">
                                <img src="imgs/features/cards.png" alt="cards">
                                <div class="feature-text">
                                    <h3 class="feature-title">Customizable card</h3>
                                    <p class="feature-description">
                                        Custom your own card for<br>
                                        your exact incomes and<br>
                                        expenses needs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="feature">
                        <div class="feaute-content">
                            <div class="feature-content">
                                <img src="imgs/features/coin.png" alt="coin">
                                <div class="feature-text">
                                    <h3 class="feature-title">No payment fee</h3>
                                    <p class="feature-description">
                                        Transfer your payment all<br>
                                        over the world with no<br>
                                        payment fee.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="feature">
                        <div class="feaute-content">
                            <div class="feature-content">
                                <img src="imgs/features/purse.png" alt="purse">
                                <div class="feature-text">
                                    <h3 class="feature-title">All in one place</h3>
                                    <p class="feature-description">
                                        Custom your own card for<br>
                                        your exact incomes and<br>
                                        expenses needs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
            <article id="comment">
                <div class="article-content">
                    <div class="article-text">
                        <p class="article-description">
                            “Wallet is a great product! All of my most important<br>
                            information is there - credit cards, transit cards, boarding<br>
                            passes, tickets, and more. And I don't need to worry because<br>
                            it's all in one place! thanks!”
                        </p>
                    </div>
                    <div class="person-info">
                        <img src="imgs/person.png" alt="person">
                        <div class="right-info">
                            <p class="person-fullname">Johnny Owens</p>
                            <div class="stars">
                                <img src="imgs/star.png" alt="star">
                                <img src="imgs/star.png" alt="star">
                                <img src="imgs/star.png" alt="star">
                                <img src="imgs/star.png" alt="star">
                                <img src="imgs/star.png" alt="star">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article id="cta">
                <div class="article-content">
                    <div class="article-text">
                        <h1 class="article-title">Questions?<br>
                            Let’s talk
                        </h1>
                        <p class="article-description">
                            Contact us through our 24/7 live chat.<br>
                            We’re always happy to help!
                        </p>
                    </div>
                    <div class="button-wrapper">
                        <a href="#" class="button secondary">Get started</a>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="imgs/cta.png" alt="cta" loading="lazy">
                </div>
            </article>
        </main>
        <footer class="footer">
            <div class="line"></div>
            <h2 class="footer-title"><a href="index.html" class="link">Wallet</a></h2>
            <div class="footer-content">
                <div class="footer-left">
                    <ul class="links">
                        <span class="copyright">
                            <span>&copy;</span>
                            <span>Wallet 2022</span>
                        </span>
                        <li><a href="#" class="link">Privacy policy</a></li>
                        <li><a href="#" class="link">Cookies policy</a></li>
                        <li><a href="#" class="link">Terms of use</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <form action="javascript:void(0)" class="email-form">
                        <p class="tip">Updates right to your Inbox</p>
                        <label class="form-control">
                            <input type="email" placeholder="Email Address" id="email-box" autocomplete="email">
                            <button class="button primary">Send</button>
                        </label>
                    </form>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
