.ui-card {
    $padding: 6px;

    background-color: #ededed;
    border-radius: 12px;
    max-width: 420px;

    > .ui-card-header, > .ui-card-footer {
        background-color: #e0e0e0;
    }

    > .ui-card-body {
        padding: {
            left: $padding;
            right: $padding;
            top: $padding * 4;
            bottom: $padding * 4;
        }
    }

    > .ui-card-header, > .ui-card-footer {
        padding: $padding;
    }

}
