@import 'components/header.css';
@import 'components/button.css';
@import 'components/link.css';
@import 'components/footer.css';

@import 'components/articles/articles.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms;
    font-family: 'Poppins', monospace, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2B2B2B;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1337px) {
    .container {
        padding: 0 20px;
    }
}
