<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <main>
        <form action="javascript:void(0)" class="login-form">
            <div class="form-header">
                <img src="imgs/cart.png" alt="cart">
            </div>
            <div class="form-body">
                <label class="form-control">
                    <span class="input-icon">
                        <img src="imgs/user.png" alt="user">
                    </span>
                    <input type="text" class="input" placeholder="Username">
                </label>
                <label class="form-control">
                    <span class="input-icon">
                        <img src="imgs/lock.png" alt="lock">
                    </span>
                    <input type="password" class="input" placeholder="Password">
                </label>
            </div>
            <div class="form-footer">
                <div class="button-wrapper">
                    <button class="login-button">Login</button>
                </div>
                <a href="#" class="link">Forgot password?</a>
            </div>
        </form>
    </main>
</body>
</html>
