<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Post Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <main>
        <div class="post">
            <div class="post_container">
                <div class="post-username">
                    <div class="post-img">
                        <img src="imgs/reddit_logo.png" alt="reddit_logo">
                    </div>
                    <h1 class="username-text">Username</h1>
                </div>
                <div class="comment-container">
                    <p class="post-comment">This is a comment</p>
                </div>
                <div class="post-likes">
                    <div class="post-img">
                        <img src="imgs/heart.png" alt="heart">
                    </div>
                    <span class="post-likes-text">999+</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
