article#home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
    padding: 77px 0;
}

article#home > .article-content {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

article#home .article-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

article#home .article-title {
    color: #FFFFFF;
    font-size: 60px;
}

article#home .article-description {
    font-size: 18px;
    color: rgba(255, 255, 255, 40%);
}

@media screen and (max-width: 1337px) {
    article#home {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    article#home .article-text {
        gap: 30px;
    }

    article#home .article-title {
        font-size: 40px;
    }
}
