.ui-button {
  outline: none;
  border: none;
  padding: 9px 24px;
  border-radius: 6px;
  font-size: 15px;
}
.ui-button:hover {
  cursor: pointer;
}
.ui-button.ui-success {
  color: #fff;
  background-color: #8aef78;
}
.ui-button.ui-danger {
  color: #fff;
  background-color: #fd5151;
}
.ui-button.ui-primary {
  color: #fff;
  background-color: #9494d6;
}
.ui-button.ui-warning {
  color: #fff;
  background-color: #ffcd45;
}

.ui-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}
.ui-buttons.ui-has-addons {
  gap: 0px;
}
.ui-buttons.ui-has-addons > .ui-button {
  border-radius: 0px;
}
.ui-buttons.ui-has-addons > .ui-button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.ui-buttons.ui-has-addons > .ui-button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ui-card {
  background-color: #ededed;
  border-radius: 12px;
  max-width: 420px;
}
.ui-card > .ui-card-header, .ui-card > .ui-card-footer {
  background-color: #e0e0e0;
}
.ui-card > .ui-card-body {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.ui-card > .ui-card-header, .ui-card > .ui-card-footer {
  padding: 6px;
}

* {
  margin: 0;
  padding: 0;
}
