* {
    transition: 300ms;
    user-select: none;
}

#generated-number {
    font-size: 34px;
}

.container {
    height: 90vh;
}

.field {
    gap: 16px;

    .control {
        width: 350px;
    }
}

input[type='number']::-webkit-inner-spin-button {
    display: none;
}
