<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Emailify</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="email">
        <div class="email-container">
            <header class="header">
                <div class="img-wrapper">
                    <img src="imgs/logo.png" alt="logo">
                </div>
            </header>
            <main>
                <article id="hero">
                    <h1 class="title">Our deals. Your move. Save<br>while you still can.</h1>
                    <div class="button-wrapper">
                        <a href="#" class="button primary">Shop Black Friday</a>
                    </div>
                </article>
                <article id="cards">
                    <ul class="cards">
                        <div class="row">
                            <li>
                                <div class="card">
                                    <div class="card-text">
                                        <h2 class="title">Save $150 on<br>Pixel 9 Pro or Pro XL</h2>
                                        <p class="description">Plus, get the highest value for your<br>old Pixel with Google Store trade-in.</p>
                                    </div>
                                    <div class="button-wrapper">
                                        <a href="#" class="button outline">Shop now</a>
                                    </div>
                                    <div class="img-wrapper">
                                        <img src="imgs/phones/pixel_9_pro.png" alt="pixel_9_pro">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-text">
                                        <h2 class="title">Save up to $100 on<br>the Pixel Watch 3</h2>
                                        <p class="description">Plus, get up to $300 back with<br>eligible watch trade-in.</p>
                                    </div>
                                    <div class="button-wrapper">
                                        <a href="#" class="button outline">Shop now</a>
                                    </div>
                                    <div class="img-wrapper">
                                        <img src="imgs/watch_3.png" alt="watch_3">
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div class="row">
                            <li>
                                <div class="card">
                                    <div class="card-text">
                                        <h2 class="title">Save $150 on<br>Pixel 9</h2>
                                        <p class="description">Plus, get the highest value for your<br>old Pixel with Google Store trade-in.</p>
                                    </div>
                                    <div class="button-wrapper">
                                        <a href="#" class="button outline">Shop now</a>
                                    </div>
                                    <div class="img-wrapper">
                                        <img src="imgs/phones/pixel_9.png" alt="pixel_9">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-text">
                                        <h2 class="title">Save up to $100 on<br> Pixel 8a</h2>
                                        <p class="description">Plus, get the highest value for your<br>old Pixel with Google Store trade-in.</p>
                                    </div>
                                    <div class="button-wrapper">
                                        <a href="#" class="button outline">Shop now</a>
                                    </div>
                                    <div class="img-wrapper">
                                        <img src="imgs/phones/pixel_8a.png" alt="pixel_8a">
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </article>
                <article id="talk-it">
                    <div class="talk-it-container">
                        <div class="img-wrapper">
                            <img src="imgs/talk_it.png" alt="talk_it">
                        </div>
                        <div class="article-content">
                            <div class="talk-it-text">
                                <h3 class="title">Talk it out live.</h3>
                                <p class="description">Have a natural, two-way conversation<br>with Gemini. It follows along, even if<br>you change the topic or switch the<br>question mid-sentence.*</p>
                            </div>
                            <div class="button-wrapper">
                                <a href="#" class="button outline">Explore Gemini Live</a>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
            <footer class="footer">
                <div class="footer-container">
                    <p class="description">100% of Pixel, Nest, and Chromecast devices launched since 2020<br><a href="#" class="link">include recycled materials.*</a></p>
                    <div class="social-medias">
                        <a href="#" class="link"><img src="imgs/social_medias/instagram.png" alt="instagram"></a>
                        <a href="#" class="link"><img src="imgs/social_medias/facebook.png" alt="facebook"></a>
                        <a href="#" class="link"><img src="imgs/social_medias/x.png" alt="x"></a>
                        <a href="#" class="link"><img src="imgs/social_medias/youtube.png" alt="youtube"></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
